wheel
scipy==1.14.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
thinc==8.3.2
blis==1.0.1
en-ner-bc5cdr-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_ner_bc5cdr_md-0.4.0.tar.gz